.hearder {
    background-color: aquamarine;
 }
 .navbar-light{
     width: 432px;
     margin-left: 950px;
 }
 .hearder input[type=Text]{
     width: 250px; ;
 }
 .main-sidebar {
    background-color: antiquewhite;
    
  }
 .left-sidebar .col-sm-3{
     background-color:white;
     margin-top: 10px;
 }

 .card-row{
     display: inline-flex;
     margin-top: 10px;
     margin-bottom: 10px;
     margin-left: 10px;
     background-color: moccasin;
 }
 .card{
     margin-right: 10px;
 }
 .footer .col-sm-12{
     background-color: cadetblue;
 }
 .card-img-top{
     height: 150px;
 }
 .card-box{
     background-color:antiquewhite ;
 }
}